<div class="footer">
  <div class="footer-links">
    <a href="https://github.com"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/petitefouinefurtive/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    TRUSTR <i class="fas fa-heart"></i> By Chloé, Mustapha et Robin
  </div>
</div>
