<div class="card-text">
  <h2>About us</h2>
    <h1>Comment ça marche?<h1>
      <p>Trustr est une plateforme de notation de sites marchands français. Elle détermine la fiablité du site en se basant sur des critères légaux, commerciaux en relevant des données textuelles. Les résultats donnés peuvent évoluer avec le temps.<p>
    <h1>La Team<h1>
      <p>L'équipe Trustr est composée de 3 anciens étudiants du Wagon Bordeaux, école spécialisée dans le développement web</p>
    <h1>Mindset<h1>
      <p>Trustr est une entreprise indépendante, n'acceptant aucun paiement de la part d'entreprises privées</p>
