<div class="center-bloc">
    <div>
      <%= image_tag "PetiteFouineDetouree.jpg" %>
    </div>
    <div class="card-trustr">
       <h2>A PROPOS DE NOUS <h2>
    </div>
    <div class="card-trustr">
        <h3>Trustr, comment ça marche?<h3>
        <p>Trustr est une plateforme de notation de sites marchands français.<p>
        <p>Elle détermine la fiablité du site en se basant sur des critères légaux et commerciaux, en relevant des données textuelles en temps réel.<p>
        <h3>Trustr, une entreprise libre<h3>
        <p>Trustr est une entreprise indépendante, n'acceptant aucun paiement de la part d'entreprises privées.</p>
        <h3>L'équipe de Trustr<h3>
        <p>L'équipe Trustr est composée de 3 anciens étudiants du Wagon Bordeaux, école spécialisée dans le développement web.</p>
    </div>
    <header>
      <img class="avatar" alt="avatar" src="https://media-exp1.licdn.com/dms/image/C4D03AQFce1oKYwUsbA/profile-displayphoto-shrink_400_400/0/1568357936544?e=1640822400&v=beta&t=0GGw_YldlRzd2_Qhe0Z_OS18ehDpVWkNRiNlUzzGCsg" />
      <img class="avatar" alt="avatar" src="https://media-exp1.licdn.com/dms/image/C4D03AQFKeQ-jJ0kzGQ/profile-displayphoto-shrink_800_800/0/1519888529530?e=1640822400&v=beta&t=X7ITOsJufx5AMjbSUYb-_9mp0dJbIn9zHrRxN4MA5O8" />
      <img class="avatar" alt="avatar" src="https://ca.slack-edge.com/T02NE0241-U023FFWQ1CK-692c6a8b731e-512" />
    </header>
</div>
