<div class="center-bloc">
  <div>
    <%= image_tag "PetiteFouineDetouree.jpg" %>
  </div>
  <div class="card-trustr">
    <h2> TRUSTR <h2>
  </div>
  <div class="search__container">
    <input class="search__input" type="text" placeholder=" ">
    <button name="button" type="submit" class="btn btn-flat btn-brown">
    <i class="fas fa-search"></i> Rechercher
  </div>
</div>
