<div class="center-bloc">
  <div>
    <%= image_tag "PetiteFouineDetouree.jpg" %>
  </div>
  <div class="card-trustr">
    <h2> TRUSTR <h2>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= simple_form_for @product do |f| %>
        <%= f.text_field :url, input_html: {class:"search__input"} %>
        <%= button_tag type: "submit", class:"btn btn-flat btn-brown mt-3 w-100"  do %>
          <i class="fas fa-search"></i> Rechercher
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="card-trustr card-pictos container">
    <div><a href="users/sign_in.html"><i class="fas fa-clipboard-check"></i><h2> 1. Se connecter </h2></a></div>
    <div><i class="fas fa-search"></i><h2> 2. Faire sa recherche </h2></div>
    <div><i class="far fa-chart-bar"></i><h2> 3. Lire les résultats </h2></div>
    <div><i class="fas fa-shopping-cart"></i><h2> 4. Acheter en toute sérénité </h2></div>
  </div>
  <div class="card-trustr">
    <a href="about_us.html"><p> A propos de nous <p></a>
  </div>
</div>
