
 <div class="card-center">
    <p>www.nomdusite.fr</p>
</div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">LEGAL</h4>
        <p class="card-text"> Domiciliation </p><div class="cercle-red"></div>
        <p class="card-text"> Siret </p><div class="cercle-red"></div>
        <p class="card-text"> Activités </p><div class="cercle-green"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">AVIS</h4>
        <p class="card-text"> Truspilot </p>
        <p class="card-text"> Google </p>
        <p class="card-text"> Livraison </p>
      </div>
    </div>
  </div>

