
@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.btn-brown {
  color : white;
  font-size: 18px;
  background-color:#916349;
  border-radius:40px;
  display: flex;
  align-items: center;
}

.btn-border {
  color: #943e0c;
  border: 1px solid #943e0c;
  padding: 5px 15px;
  font-size: 12px;
}

.search {
    &__container {
        padding-top: 30px;
        text-align: center;
        border-color: #916349;
        background-color: transparent;

    }

    &__input {
        width: 100%;
        padding: 12px 24px;
        margin-bottom: 10px;
        background-color: transparent;
        background-size: 18px 18px;
        font-size: 14px;
        line-height: 18px;
        color: #916349;
        border-radius:40px;
        transition: all 250ms ease-in-out;
        transform-style: preserve-3d;
        display: flex;
      &::placeholder {
        color: color(#916349 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
    }
}

