.card-trustr h1 {
  font-size: 40px;
  font-weight: bold;
  color: #916349;
  margin-bottom: 30px;
  text-align: center;
}

.card-trustr h2 {
  font-size: 18px;
  font-weight: bold;
  color: #916349;
  margin: 1px;
  text-align: center;
}

.card-trustr h3 {
  font-size: 16px;
  font-weight: bold;
  color: #916349;
  margin: 1px;
  text-align: center;
}

.card-trustr p {
  font-size: 14px;
  line-height: 1.4;
  color: grey;
  text-align: center;
}
