.card-trustr h1 {
  font-size: 40px;
  font-weight: bold;
  color: #916349;
  margin-bottom: 30px;
  text-align: center;
}

.card-trustr h2 {
  font-size: 18px;
  font-weight: bold;
  color: #916349;
  margin: 1px;
  text-align: center;
  margin-bottom: 40px;
}

.card-trustr h3 {
  font-size: 16px;
  font-weight: bold;
  color: #916349;
  margin: 1px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
}

.card-trustr h4 {
  font-size: 13px;
  line-height: 1.4;
  color: #916349;
  text-align: center;
  margin-top: 50px;
}

.card-trustr h5 {
  font-size: 14px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.card-trustr p {
  font-size: 14px;
  color: grey;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;

}

.card {
  color: grey;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #DDD5D1;
  background-clip: border-box;
  border: 1px solid #916349;
  border-radius: 2px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.card-title {
  color: #916349;
  text-align: left;
  text-transform: capitalize;
}

.card-center {
  margin-top: 10px;
  text-align: center;
}
