.card-text h3 {
  font-size: 20px;
  font-weight: bold;
  color: #4a1f12
  margin: 0;
}

.card-text h2 {
  font-size: 18px;
  font-weight: bold;
  color: #943e0c
  margin: 0;
}

.card-text h1 {
  font-size: 16px;
  font-weight: bold;
  color: #d05712
  margin: 0;
}

.card-text p {
  font-size: 14px;
  line-height: 1.4;
  color: grey
}
