.navbar-trustr {
  justify-content: space-between;
  background: white;
}

.navbar-trustr .navbar-collapse {
  flex-grow: 0;
}

.navbar .brand {
    max-height: 40px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.image_fouine {
  height: 35px;
 }

.navbar-light .navbar-nav .nav-link {
  color: #943e0c;
  border-color:#943e0c;
  font-size: 14px;
 }

.email {
  color: #943e0c;
  border-color: #943e0c;
  margin-inline: 10px;
  margin-top: 10px;
  margin-bottom:5px;
   }

.password {
  color: #943e0c;
  border-color: #943e0c;
  margin-inline: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
   }

.form-check-label {
  color: #943e0c;
   }

.form-inputs {
  color: #943e0c;
   }

.form-group {
  margin-bottom: 50px;
    }

.btn {
  color: #943e0c;
}
