.fa-search {
  color:#916349;
  font-size: 40px;
  text-align: center;
}

.fa-clipboard-check {
  color:#916349;
  font-size: 40px;
  text-align: center;
}

.fa-chart-bar {
  color:#916349;
  font-size: 40px;
  text-align: center;
}

.fa-shopping-cart {
  color:#916349;
  font-size: 40px;
  text-align: center;
}

.container {
  column-count: 4;
  margin-top: 100px;
  margin-bottom: 100px;
}
