<div class="card-center card-trustr">
  <h2><%= @product.name %><h2>
</div>

<div class="center-bloc">
  <div class="card-center card-trustr btn btn-flat btn-brown">
  <h5> Nouvelle Recherche <h5>
  </div>
</div>
